<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1><%= @post.title %></h1>
		<p>Author: <strong><%= @post.author %></strong></p>
		<div class="well">
			<p><img src="<%= @post.image %>" width="200" ></p>
			<%= @post.body %>
		</div>
		<p>
			<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %> 
			<%= link_to 'Delete', @post, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
		</p>		
	</div>
</div>
