<div class="row">
	<div class="col-md-12">
		<h1><%= @post.title %></h1>
		<p>Author: <strong><%= @post.author %></strong></p>
	</div>
	<div class="col-md-8">
		<div class="well">
			<p><img src="<%= @post.image %>" width="200" ></p>
			<%= @post.body %>
		</div>
		<p>
			<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %> 
			<%= link_to 'Delete', @post, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
		</p>	
	</div>
	<div class="col-md-4">
		<div class="well">
			<h3>Comments</h3>
			<% @post.comments.each do |comment| %>
				<p>
					<strong><%= comment.author %>: </strong>
					<%= comment.body %><br><%= link_to 'Edit', edit_post_comment_path(@post, comment) %> | <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?'} %>
				</p>
			<% end %>
			<hr>
			<h3>New Comment</h3>
			<%= simple_form_for [@post, @post.comments.build] do |f| %>
				<%= f.input :author %>
				<%= f.input :body %>

				<%= f.button :submit %>
			<% end %>
		</div>	
	</div>
</div>
